BasedOnStyle: LLVM
AlignAfterOpenBracket: AlwaysBreak
BreakConstructorInitializers: AfterColon
BreakBeforeBraces: Stroustrup
BinPackArguments: false
BinPackParameters: false
AlignEscapedNewlines: DontAlign
SpacesBeforeTrailingComments: 2
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
ContinuationIndentWidth: 4
IndentWidth: 4
Standard: c++20
UseTab: Never
PointerAlignment: Left
ColumnLimit: 120
IndentAccessModifiers: false
AccessModifierOffset: -4
