/*
Hornet Mk. 3 board.
 */

/dts-v1/;

#include <../boards/pjrc/teensy4/teensy41.dts>
#include <zephyr/dt-bindings/pwm/pwm.h>

#define ANALOG_SENSORS_ADC_RESOLUTION 12
#define ANALOG_SENSORS_ADC_OVERSAMPLING 5

/*
TODO:
- LoRa radio
- Remove ADC1
*/

/ {
    model = "Hornet Mk. 3";

    aliases {
        // VN-300 IMU
        imu-uart = &lpuart6; // TX: Pin 1 (AD_B0_02), RX: Pin 0 (AD_B0_03)

        // TF02-Pro LiDARs
        lidar-1-uart = &lpuart7; // TX: Pin 29 (EMC_31), RX: Pin 28 (EMC_32)
        lidar-2-uart = &lpuart8; // TX: Pin 20 (AD_B1_10), RX: Pin 21 (AD_B1_11)

        // JAVAD TR-2S GNSS
        gnss-uart = &lpuart3; // TX: Pin 17 (AD_B1_06), RX: Pin 16 (AD_B1_07)

        // RFM95W LoRa tranceiver
        lora-tranceiver = &sx1276;
    };

    zephyr,user {
        // ADC channels used by AnalogSensors.
        analog-sensor-max-adc-channels = <16>;
        io-channels = <&adc2 3>,
                      <&adc1 5>,
                      <&adc1 6>,
                      <&adc1 8>,
                      <&adc1 9>,
                      <&adc1 10>,
                      <&adc1 11>,
                      <&adc1 12>,
                      <&adc1 15>;
        analog-sensor-adcs = <&adc1 &adc2>;
        analog-sensor-adc-oversampling = <ANALOG_SENSORS_ADC_OVERSAMPLING>;
        analog-sensor-adc-resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;

        pwms =
            <&flexpwm4_pwm2 1 PWM_USEC(20000) PWM_POLARITY_NORMAL>,  /* motor_top    Pin 3   EMC_05    FlexPWM4.2 B */
            <&flexpwm2_pwm0 0 PWM_USEC(20000) PWM_POLARITY_NORMAL>,  /* motor_bottom Pin 4   EMC_06    FlexPWM2.0 A */
            <&flexpwm1_pwm2 1 PWM_USEC(20000) PWM_POLARITY_NORMAL>,  /* servo_x      Pin 24  AD_B0_12  FlexPWM1.2 X */
            <&flexpwm1_pwm3 1 PWM_USEC(20000) PWM_POLARITY_NORMAL>,  /* servo_y      Pin 25  AD_B0_13  FlexPWM1.2 X */
            <&flexpwm3_pwm1 1 PWM_USEC(20000) PWM_POLARITY_NORMAL>,  /* beta_top     Pin 28  EMC_32    FlexPWM3.1 B */
            <&flexpwm3_pwm1 0 PWM_USEC(20000) PWM_POLARITY_NORMAL>,  /* beta_bottom  Pin 29  EMC_31    FlexPWM3.1 A */
            <&flexpwm2_pwm3 1 PWM_USEC(20000) PWM_POLARITY_NORMAL>,  /* beta_cw      Pin 36  EMC_38    FlexPWM1.3 B */
            <&flexpwm2_pwm3 0 PWM_USEC(20000) PWM_POLARITY_NORMAL>;  /* beta_ccw     Pin 37  EMC_39    FlexPWM1.3 A */


        pwm-names = "motor_top", "motor_bottom",
                    "servo_x", "servo_y",
                    "beta_top", "beta_bottom", "beta_cw", "beta_ccw";
    };

    chosen {
        zephyr,console = &cdc_acm_uart0;
    };
};

// VN-300 IMU (pins 0/1)
&lpuart6 {
    status = "okay";
    current-speed = <115200>;
    pinctrl-0 = <&pinmux_lpuart6>;
    pinctrl-1 = <&pinmux_lpuart6_sleep>;
    pinctrl-names = "default", "sleep";
};

// TF-02 Pro LiDAR #1 (pins 28/29)
&lpuart7 {
    status = "okay";
    current-speed = <115200>;
    pinctrl-0 = <&pinmux_lpuart7>;
    pinctrl-1 = <&pinmux_lpuart7_sleep>;
    pinctrl-names = "default", "sleep";
};

// TF-02 Pro LiDAR #2 (pins 20/21)
&lpuart8 {
    status = "okay";
    current-speed = <115200>;
    pinctrl-0 = <&pinmux_lpuart8>;
    pinctrl-1 = <&pinmux_lpuart8_sleep>;
    pinctrl-names = "default", "sleep";
};

// JAVAD TR-2S GNSS (pins 16/17)
&lpuart3 {
    status = "okay";
    current-speed = <115200>;
    pinctrl-0 = <&pinmux_lpuart3>;
    pinctrl-1 = <&pinmux_lpuart3_sleep>;
    pinctrl-names = "default", "sleep";
};

// TODO: RFM95W RF CHIP, validate this? Duped on hornet/vehicle boards.
&lpspi4 {
    status = "okay";

    // TODO: Are the miso/mosi correct? this driver has a mio/sdo and I'm pretty sure there's an option to set which is miso/mosi.

    // Hardware CS0: Pin 10
    // MOSI: Pin 11
    // MISO: Pin 12
    // SCK: Pin 13

    // Is this right?
    // RFM95W: https: //www.adafruit.com/product/3072
    sx1276: sx1276@0 {
        compatible = "semtech,sx1276";
        reg = <0x0>;
        reset-gpios = <&gpio4 4 GPIO_ACTIVE_HIGH>; // Pin 4
        dio-gpios = <&gpio2 10 GPIO_ACTIVE_HIGH>; // Pin 6
        spi-max-frequency = <DT_FREQ_M(67)>; // THIS IS 100% WRONG!!!! FIX ME!!!!!
    };
};

// Docs: https: //docs.zephyrproject.org/latest/build/dts/api/bindings/pinctrl/nxp%2Cmcux-rt-pinctrl.html
&pinctrl {
    // ADC1 — removed AD_B1_03 (pin 15, LPUART2_RX) and AD_B1_10 (pin 20, LPUART8_TX)
    // to avoid pad conflicts if/when those UARTs are ever enabled.
    pinmux_adc1: pinmux_adc1 {
        group0 {
            pinmux = <&iomuxc_gpio_ad_b1_04_gpio1_io20>,
                     <&iomuxc_gpio_ad_b1_05_gpio1_io21>,
                     <&iomuxc_gpio_ad_b1_07_gpio1_io23>,
                     <&iomuxc_gpio_ad_b1_06_gpio1_io22>,
                     <&iomuxc_gpio_ad_b1_00_gpio1_io16>,
                     <&iomuxc_gpio_ad_b1_01_gpio1_io17>;
            bias-disable; // These should be pulled down by voltage divider
            drive-strength = "r0-6";
            slew-rate = "slow";
            nxp,speed = "100-mhz";
        };
    };

    /* AD_B0_12 -> FlexPWM1_PWMX2 (servo_x)
       AD_B0_13 -> FlexPWM1_PWMX3 (servo_y) */
    pinmux_flexpwm1_pwm2: pinmux_flexpwm1_pwm2 {
        group0 {
            pinmux = <&iomuxc_gpio_ad_b0_12_flexpwm1_pwmx2>;
            bias-disable;
            drive-strength = "r0-6";
            slew-rate = "slow";
            nxp,speed = "100-mhz";
        };
    };

        pinmux_flexpwm1_pwm3: pinmux_flexpwm1_pwm3 {
        group0 {
            pinmux = <&iomuxc_gpio_ad_b0_13_flexpwm1_pwmx3>;
            bias-disable;
            drive-strength = "r0-6";
            slew-rate = "slow";
            nxp,speed = "100-mhz";
        };
    };

    /* EMC_32 -> FlexPWM3_PWMB1 (beta_top)
       EMC_31 -> FlexPWM3_PWMA1 (beta_bottom) */
    pinmux_flexpwm3_pwm1: pinmux_flexpwm3_pwm1 {
        group0 {
            pinmux = <&iomuxc_gpio_emc_32_flexpwm3_pwmb1>,
                     <&iomuxc_gpio_emc_31_flexpwm3_pwma1>;
            bias-disable;
            drive-strength = "r0-6";
            slew-rate = "slow";
            nxp,speed = "100-mhz";
        };
    };

    /* EMC_38 -> FlexPWM1_PWMA3 (beta_cw)
       EMC_39 -> FlexPWM1_PWMB3 (beta_ccw) */
    pinmux_flexpwm2_pwm3: pinmux_flexpwm2_pwm3 {
        group0 {
            pinmux = <&iomuxc_gpio_b1_02_flexpwm2_pwma3>,
                     <&iomuxc_gpio_b1_03_flexpwm2_pwmb3>;
            bias-disable;
            drive-strength = "r0-6";
            slew-rate = "slow";
            nxp,speed = "100-mhz";
        };
    };

    /* EMC_05 -> FlexPWM4_PWMB2 (motor_top) */
    pinmux_flexpwm4_pwm2: pinmux_flexpwm4_pwm2 {
        group0 {
            pinmux = <&iomuxc_gpio_emc_05_flexpwm4_pwmb2>;
            bias-disable;
            drive-strength = "r0-6";
            slew-rate = "slow";
            nxp,speed = "100-mhz";
        };
    };

    /* EMC_06 -> FlexPWM2_PWMA0 (motor_bottom) */
    pinmux_flexpwm2_pwm0: pinmux_flexpwm2_pwm0 {
        group0 {
            pinmux = <&iomuxc_gpio_emc_06_flexpwm2_pwma0>;
            bias-disable;
            drive-strength = "r0-6";
            slew-rate = "slow";
            nxp,speed = "100-mhz";
        };
    };

    pinmux_adc2: pinmux_adc2 {
        group0 {
            pinmux = <&iomuxc_gpio_ad_b1_14_gpio1_io30>; // A12, pin 26
            bias-disable;
            drive-strength = "r0-6";
            slew-rate = "slow";
            nxp,speed = "100-mhz";
        };
    };

    // LPUART6: pins 0/1
    pinmux_lpuart6: pinmux_lpuart6 {
        group0 {
            pinmux = <&iomuxc_gpio_ad_b0_02_lpuart6_tx>,
                     <&iomuxc_gpio_ad_b0_03_lpuart6_rx>;
            drive-strength = "r0-6";
            slew-rate = "slow";
            nxp,speed = "100-mhz";
        };
    };

    pinmux_lpuart6_sleep: pinmux_lpuart6_sleep {
        group0 {
            pinmux = <&iomuxc_gpio_ad_b0_02_lpuart6_tx>;
            drive-strength = "r0-6";
            slew-rate = "slow";
            nxp,speed = "100-mhz";
        };
    };

    // LPUART7: pins 28/29
    pinmux_lpuart7: pinmux_lpuart7 {
        group0 {
            pinmux = <&iomuxc_gpio_emc_31_lpuart7_tx>,
                     <&iomuxc_gpio_emc_32_lpuart7_rx>;
            drive-strength = "r0-6";
            slew-rate = "slow";
            nxp,speed = "100-mhz";
        };
    };

    pinmux_lpuart7_sleep: pinmux_lpuart7_sleep {
        group0 {
            pinmux = <&iomuxc_gpio_emc_31_lpuart7_tx>;
            drive-strength = "r0-6";
            slew-rate = "slow";
            nxp,speed = "100-mhz";
        };
    };

    // LPUART8: pins 20/21
    pinmux_lpuart8: pinmux_lpuart8 {
        group0 {
            pinmux = <&iomuxc_gpio_ad_b1_10_lpuart8_tx>,
                     <&iomuxc_gpio_ad_b1_11_lpuart8_rx>;
            drive-strength = "r0-6";
            slew-rate = "slow";
            nxp,speed = "100-mhz";
        };
    };

    pinmux_lpuart8_sleep: pinmux_lpuart8_sleep {
        group0 {
            pinmux = <&iomuxc_gpio_ad_b1_10_lpuart8_tx>;
            drive-strength = "r0-6";
            slew-rate = "slow";
            nxp,speed = "100-mhz";
        };
    };

    // LPUART3: pins 16/17
    pinmux_lpuart3: pinmux_lpuart3 {
        group0 {
            pinmux = <&iomuxc_gpio_ad_b1_06_lpuart3_tx>,
                     <&iomuxc_gpio_ad_b1_07_lpuart3_rx>;
            drive-strength = "r0-6";
            slew-rate = "slow";
            nxp,speed = "100-mhz";
        };
    };

    pinmux_lpuart3_sleep: pinmux_lpuart3_sleep {
        group0 {
            pinmux = <&iomuxc_gpio_ad_b1_06_lpuart3_tx>;
            drive-strength = "r0-6";
            slew-rate = "slow";
            nxp,speed = "100-mhz";
        };
    };
};

&adc1 {
    status = "okay";
    pinctrl-0 = <&pinmux_adc1>;
    pinctrl-names = "default";
    #address-cells = <1>;
    #size-cells = <0>;

    channel@5 {
        reg = <0x5>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        zephyr,oversampling = <ANALOG_SENSORS_ADC_OVERSAMPLING>;
    };

    channel@6 {
        reg = <0x6>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        zephyr,oversampling = <ANALOG_SENSORS_ADC_OVERSAMPLING>;
    };

    channel@8 {
        reg = <0x8>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        zephyr,oversampling = <ANALOG_SENSORS_ADC_OVERSAMPLING>;
    };

    channel@9 {
        reg = <0x9>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        zephyr,oversampling = <ANALOG_SENSORS_ADC_OVERSAMPLING>;
    };

    channel@a {
        reg = <0xa>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        zephyr,oversampling = <ANALOG_SENSORS_ADC_OVERSAMPLING>;
    };

    channel@b {
        reg = <0xb>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        zephyr,oversampling = <ANALOG_SENSORS_ADC_OVERSAMPLING>;
    };

    channel@c {
        reg = <0xc>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        zephyr,oversampling = <ANALOG_SENSORS_ADC_OVERSAMPLING>;
    };

    channel@f {
        reg = <0xf>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        zephyr,oversampling = <ANALOG_SENSORS_ADC_OVERSAMPLING>;
    };
};

// ADC for battery sense
&adc2 {
    status = "okay";
    pinctrl-0 = <&pinmux_adc2>;
    pinctrl-names = "default";
    #address-cells = <1>;
    #size-cells = <0>;

    channel@3 {
        reg = <0x3>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        zephyr,oversampling = <ANALOG_SENSORS_ADC_OVERSAMPLING>;
    };
};

/* ------------------------------------------------------------------ */
/* FlexPWM submodule enables with pinctrl                             */
/* ------------------------------------------------------------------ */

&flexpwm1_pwm2 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinmux_flexpwm1_pwm2>;
    status = "okay";
};

&flexpwm1_pwm3 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinmux_flexpwm1_pwm3>;
    status = "okay";
};

&flexpwm3_pwm1 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinmux_flexpwm3_pwm1>;
    status = "okay";
};

&flexpwm2_pwm3 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinmux_flexpwm2_pwm3>;
    status = "okay";
};

&flexpwm4_pwm2 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinmux_flexpwm4_pwm2>;
    status = "okay";
};

&flexpwm2_pwm0 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinmux_flexpwm2_pwm0>;
    status = "okay";
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
        label = "CDC_ACM_0";
    };
};

&enet_mac {
    /delete-property/ nxp,unique-mac;
    local-mac-address = [ 67 67 67 67 67 67  ];
};
