/*
Hornet Mk. 3 board.
 */

/dts-v1/;

#include <../boards/pjrc/teensy4/teensy41.dts>
#include <zephyr/dt-bindings/memory-attr/memory-attr-arm.h>

/*
TODO:
- LoRa radio
- Remove ADC1
- PWM for servos, propellers, etc
*/

/ {
    model = "Hornet Mk. 3";

    aliases {
        // VN-300 IMU
        imu-uart = &lpuart1; // TX: Pin 1, RX: Pin 0

        // TF02-Pro LiDARs
        lidar-1-uart = &lpuart2; // TX: Pin 8, RX: Pin 7
        lidar-2-uart = &lpuart8; // TX: Pin 35, RX: Pin 34

        // JAVAD TR-2S GNSS
        gnss-uart = &lpuart3; // TX: Pin 14, RX: Pin 13

        // RFM95W LoRa tranceiver
        lora-tranceiver = &sx1276;
    };

    chosen {
        zephyr,console = &cdc_acm_uart0;
    };

    psram: memory@70000000 {
        compatible = "zephyr,memory-region", "mmio-sram";
        reg = <0x70000000 DT_SIZE_M(128)>;
        zephyr,memory-region = "PSRAM";
        zephyr,memory-attr = <DT_MEM_ARM_MPU_RAM_NOCACHE>;
    };
};

// VN-300 IMU
&lpuart1 {
    status = "okay";
    current-speed = <115200>;
};

// TF-02 Pro LiDARs
&lpuart2 {
    status = "okay";
    current-speed = <115200>;
};

&lpuart8 {
    status = "okay";
    current-speed = <115200>;
};

// JAVAD TR-2S GNSS
&lpuart3 {
    status = "okay";
    current-speed = <115200>; // Is this right?
};

// TODO: RFM95W RF CHIP, validate this? Duped on hornet/vehicle boards.
&lpspi4 {
    status = "okay";

    // TODO: Are the miso/mosi correct? this driver has a mio/sdo and I'm pretty sure there's an option to set which is miso/mosi.

    // Hardware CS0: Pin 10
    // MOSI: Pin 11
    // MISO: Pin 12
    // SCK: Pin 13

    // Is this right?
    // RFM95W: https: //www.adafruit.com/product/3072
    sx1276: sx1276@0 {
        compatible = "semtech,sx1276";
        reg = <0x0>;
        reset-gpios = <&gpio4 4 GPIO_ACTIVE_HIGH>; // Pin 4
        dio-gpios = <&gpio2 10 GPIO_ACTIVE_HIGH>; // Pin 6
        spi-max-frequency = <DT_FREQ_M(67)>; // THIS IS 100% WRONG!!!! FIX ME!!!!!
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
        label = "CDC_ACM_0";
    };
};

&enet_mac {
    /delete-property/ nxp,unique-mac;
    local-mac-address = [ 67 67 67 67 67 67  ];
};

&flexspi2 {
    status = "okay";
    label = "FLEXSPI2";
    reg = <0x402a4000 0x4000>, <0x70000000 DT_SIZE_M(128)>;
    reg-names = "reg_base", "ahb";

    ahb-boundary = "1024";

    //ahb-bufferable;
    //ahb-cacheable;
    //ahb-prefetch;

    /* APS6404L*/
    psram0: psram@0 {
        compatible = "nxp,imx-flexspi-aps6404l";
        reg = <0x0>;
        size = <DT_SIZE_M(128)>;

        spi-max-frequency = <50000000>;

        status = "okay";
    };
};
