/*
Ranger 1 board.
 */

/dts-v1/;

#include <../boards/pjrc/teensy4/teensy41.dts>

#define ANALOG_SENSORS_ADC_RESOLUTION 12
#define ANALOG_SENSORS_ADC_OVERSAMPLING 0

/ {
    model = "Ranger 1";

    aliases {
        // VN-300 IMU
        imu-uart = &lpuart6; // TX: Pin 1 (AD_B0_02), RX: Pin 0 (AD_B0_03)

        // TF02-Pro LiDARs
        lidar-1-uart = &lpuart7; // TX: Pin 29 (EMC_31), RX: Pin 28 (EMC_32)
        lidar-2-uart = &lpuart8; // TX: Pin 20 (AD_B1_10), RX: Pin 21 (AD_B1_11)

        // JAVAD TR-2S GNSS
        gnss-uart = &lpuart3; // TX: Pin 14, RX: Pin 13

        // // RFM95W LoRa tranceiver
        // lora-tranceiver = &sx1276;

        // Throttle motor driver hardware timers, controls PUL/DIR signals.
        fuel-valve-stepper-pulse-counter = &pit0_channel0;
        lox-valve-stepper-pulse-counter = &pit0_channel1;
    };

    zephyr,user {
        // Throttle motor drivers
        fuel-valve-stepper-pul-gpios = <&gpio2 2 GPIO_ACTIVE_HIGH>; // Pin 11
        fuel-valve-stepper-dir-gpios = <&gpio2 1 GPIO_ACTIVE_HIGH>; // Pin 12
        fuel-valve-stepper-ena-gpios = <&gpio2 0 GPIO_ACTIVE_HIGH>; // Pin 10
        fuel-valve-encoder-a-gpios = <&gpio4 8 GPIO_ACTIVE_HIGH>; // Pin 5
        fuel-valve-encoder-b-gpios = <&gpio4 6 GPIO_ACTIVE_HIGH>; // Pin 4

        lox-valve-stepper-pul-gpios = <&gpio2 16 GPIO_ACTIVE_HIGH>; // Pin 8
        lox-valve-stepper-dir-gpios = <&gpio2 11 GPIO_ACTIVE_HIGH>; // Pin 9
        lox-valve-stepper-ena-gpios = <&gpio2 17 GPIO_ACTIVE_HIGH>; // Pin 7
        lox-valve-encoder-a-gpios = <&gpio4 4 GPIO_ACTIVE_HIGH>; // Pin 2
        lox-valve-encoder-b-gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>; // Pin 1

        // ADC channels used by AnalogSensors.
        analog-sensor-max-adc-channels = <16>;
        io-channels =
            <&ads7953_1 0>,
            <&ads7953_1 1>,
            <&ads7953_1 2>,
            <&ads7953_1 3>,
            <&ads7953_1 4>,
            <&ads7953_1 5>,
            <&ads7953_1 6>,
            <&ads7953_1 7>,
            <&ads7953_1 8>,
            <&ads7953_1 9>,
            <&ads7953_1 10>,
            <&ads7953_1 11>,
            <&ads7953_1 12>,
            <&ads7953_1 13>,
            <&ads7953_1 14>,
            <&ads7953_1 15>,
            <&ads7953_2 0>,
            <&ads7953_2 1>,
            <&ads7953_2 2>,
            <&ads7953_2 3>,
            <&ads7953_2 4>,
            <&ads7953_2 5>,
            <&ads7953_2 6>,
            <&ads7953_2 7>,
            <&ads7953_2 8>,
            <&ads7953_2 9>,
            <&ads7953_2 10>,
            <&ads7953_2 11>,
            <&ads7953_2 12>,
            <&ads7953_2 13>,
            <&ads7953_2 14>,
            <&ads7953_2 15>;
        analog-sensor-adcs = <&ads7953_1 &ads7953_2>;
        analog-sensor-adc-oversampling = <ANALOG_SENSORS_ADC_OVERSAMPLING>;
        analog-sensor-adc-resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;

        // GPIOs connected to valves. Valve channel numbers are indexed by their position in this list.
        valve-gpios = <&gpio2 10 GPIO_ACTIVE_HIGH>, <&gpio2 17 GPIO_ACTIVE_HIGH>, <&gpio2 16 GPIO_ACTIVE_HIGH>;
    };

    chosen {
        // zephyr,console = &lpuart1;
        zephyr,console = &cdc_acm_uart0;
    };
};

// VN-300 IMU
&lpuart1 {
    status = "okay";
    current-speed = <115200>;
};

// TF-02 Pro LiDARs
&lpuart2 {
    status = "okay";
    current-speed = <115200>;
};

&lpuart8 {
    status = "okay";
    current-speed = <115200>;
};

// JAVAD TR-2S GNSS
&lpuart3 {
    status = "okay";
    current-speed = <115200>; // Is this right?
};

&lpspi3 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&pinmux_lpspi3>;

    pcs-sck-delay = <10>;
    sck-pcs-delay = <40>;

    cs-gpios = <&gpio2 19 GPIO_ACTIVE_LOW>, // Pin 37
               <&gpio2 18 GPIO_ACTIVE_LOW>; // Pin 36

    ads7953_1: adc@0 {
        status = "okay";
        compatible = "ti,ads7953";
        reg = <0>;
        spi-max-frequency = <20000000>; // Maximum for ADS7953.
        #io-channel-cells = <1>;
        ti,range = <2>; // 2x V_REF of 2.5V

        #address-cells = <1>;
        #size-cells = <0>;

        channel@0 {
            reg = <0>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@1 {
            reg = <1>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@2 {
            reg = <2>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@3 {
            reg = <3>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@4 {
            reg = <4>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@5 {
            reg = <5>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@6 {
            reg = <6>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@7 {
            reg = <7>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@8 {
            reg = <8>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@9 {
            reg = <9>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@a {
            reg = <10>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@b {
            reg = <11>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@c {
            reg = <12>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@d {
            reg = <13>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@e {
            reg = <14>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@f {
            reg = <15>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };
    };

    ads7953_2: adc@1 {
        status = "okay";
        compatible = "ti,ads7953";
        reg = <1>;
        spi-max-frequency = <20000000>; // Maximum for ADS7953.
        #io-channel-cells = <1>;
        ti,range = <2>;

        #address-cells = <1>;
        #size-cells = <0>;

        channel@0 {
            reg = <0>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@1 {
            reg = <1>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@2 {
            reg = <2>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@3 {
            reg = <3>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@4 {
            reg = <4>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@5 {
            reg = <5>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@6 {
            reg = <6>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@7 {
            reg = <7>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@8 {
            reg = <8>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@9 {
            reg = <9>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@a {
            reg = <10>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@b {
            reg = <11>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@c {
            reg = <12>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@d {
            reg = <13>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@e {
            reg = <14>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };

        channel@f {
            reg = <15>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_VDD_1";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <ANALOG_SENSORS_ADC_RESOLUTION>;
        };
    };
};

// Docs: https: //docs.zephyrproject.org/latest/build/dts/api/bindings/pinctrl/nxp%2Cmcux-rt-pinctrl.html
&pinctrl {
   // LPUART6: pins 0/1
    pinmux_lpuart6: pinmux_lpuart6 {
        group0 {
            pinmux = <&iomuxc_gpio_ad_b0_02_lpuart6_tx>,
                     <&iomuxc_gpio_ad_b0_03_lpuart6_rx>;
            drive-strength = "r0-6";
            slew-rate = "slow";
            nxp,speed = "100-mhz";
        };
    };

    pinmux_lpuart6_sleep: pinmux_lpuart6_sleep {
        group0 {
            pinmux = <&iomuxc_gpio_ad_b0_02_lpuart6_tx>;
            drive-strength = "r0-6";
            slew-rate = "slow";
            nxp,speed = "100-mhz";
        };
    };

    // LPUART7: pins 28/29
    pinmux_lpuart7: pinmux_lpuart7 {
        group0 {
            pinmux = <&iomuxc_gpio_emc_31_lpuart7_tx>,
                     <&iomuxc_gpio_emc_32_lpuart7_rx>;
            drive-strength = "r0-6";
            slew-rate = "slow";
            nxp,speed = "100-mhz";
        };
    };

    pinmux_lpuart7_sleep: pinmux_lpuart7_sleep {
        group0 {
            pinmux = <&iomuxc_gpio_emc_31_lpuart7_tx>;
            drive-strength = "r0-6";
            slew-rate = "slow";
            nxp,speed = "100-mhz";
        };
    };

    // LPUART8: pins 20/21
    pinmux_lpuart8: pinmux_lpuart8 {
        group0 {
            pinmux = <&iomuxc_gpio_ad_b1_10_lpuart8_tx>,
                     <&iomuxc_gpio_ad_b1_11_lpuart8_rx>;
            drive-strength = "r0-6";
            slew-rate = "slow";
            nxp,speed = "100-mhz";
        };
    };

    pinmux_lpuart8_sleep: pinmux_lpuart8_sleep {
        group0 {
            pinmux = <&iomuxc_gpio_ad_b1_10_lpuart8_tx>;
            drive-strength = "r0-6";
            slew-rate = "slow";
            nxp,speed = "100-mhz";
        };
    };

    // LPUART3: pins 16/17
    pinmux_lpuart3: pinmux_lpuart3 {
        group0 {
            pinmux = <&iomuxc_gpio_ad_b1_06_lpuart3_tx>,
                     <&iomuxc_gpio_ad_b1_07_lpuart3_rx>;
            drive-strength = "r0-6";
            slew-rate = "slow";
            nxp,speed = "100-mhz";
        };
    };

    pinmux_lpuart3_sleep: pinmux_lpuart3_sleep {
        group0 {
            pinmux = <&iomuxc_gpio_ad_b1_06_lpuart3_tx>;
            drive-strength = "r0-6";
            slew-rate = "slow";
            nxp,speed = "100-mhz";
        };
    };
};

// VN-300 IMU (pins 0/1)
&lpuart6 {
    status = "okay";
    current-speed = <115200>;
    pinctrl-0 = <&pinmux_lpuart6>;
    pinctrl-1 = <&pinmux_lpuart6_sleep>;
    pinctrl-names = "default", "sleep";
};

// TF-02 Pro LiDAR #1 (pins 28/29)
&lpuart7 {
    status = "okay";
    current-speed = <115200>;
    pinctrl-0 = <&pinmux_lpuart7>;
    pinctrl-1 = <&pinmux_lpuart7_sleep>;
    pinctrl-names = "default", "sleep";
};

// TF-02 Pro LiDAR #2 (pins 20/21)
&lpuart8 {
    status = "okay";
    current-speed = <115200>;
    pinctrl-0 = <&pinmux_lpuart8>;
    pinctrl-1 = <&pinmux_lpuart8_sleep>;
    pinctrl-names = "default", "sleep";
};

// JAVAD TR-2S GNSS (pins 16/17)
&lpuart3 {
    status = "okay";
    current-speed = <115200>;
    pinctrl-0 = <&pinmux_lpuart3>;
    pinctrl-1 = <&pinmux_lpuart3_sleep>;
    pinctrl-names = "default", "sleep";
};

// Timer for stepper pulses.
// Docs: https: //docs.zephyrproject.org/latest/build/dts/api/bindings/counter/nxp%2Cpit.html
// Teensyduino equivalent: https: //sourcegraph.com/github.com/PaulStoffregen/cores/-/blob/teensy4/IntervalTimer.cpp
&pit0 {
    status = "okay";
};

&pit0_channel0 {
    status = "okay";
};

&pit0_channel1 {
    status = "okay";
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
        label = "CDC_ACM_0";
    };
};

&enet_mac {
    /delete-property/ nxp,unique-mac;
    local-mac-address = [ 67 67 67 67 67 67  ];
};
