menu "Zephyr"
source "Kconfig.zephyr"
endmenu

menu "Application options"

choice IMPLEMENTATION
    prompt "Ranger or Hornet"
    default RANGER

config RANGER
    bool "Ranger implementation"

config HORNET
    bool "Hornet implementation"

endchoice

endmenu

module = CLOVER
module-str = CLOVER
source "subsys/logging/Kconfig.template.log_config"
