/ {
    zephyr,user {
        /* FUEL Valve - added step pin to complete the set */
        fuel-step-gpios = <&gpio1 26 GPIO_ACTIVE_HIGH>;
        fuel-dir-gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;
        fuel-sleep-gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>;

        /* LOX Valve */
        lox-step-gpios = <&gpio1 16 GPIO_ACTIVE_HIGH>;
        lox-dir-gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
        lox-sleep-gpios = <&gpio1 17 GPIO_ACTIVE_HIGH>;
    };
};

&enet {
    status = "okay";
};
