# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0
#
# This file is the application Kconfig entry point. All application Kconfig
# options can be defined here or included via other application Kconfig files.
# You can browse these options using the west targets menuconfig (terminal) or
# guiconfig (GUI).


menu "Zephyr"
source "Kconfig.zephyr"
endmenu

menu "Application options"

choice APP_CONTROL_LOOP
    prompt "Control loop mode"
    default APP_CONTROL_LOOP_THROTTLE

config APP_CONTROL_LOOP_THROTTLE
    bool "Throttle control loop"

config APP_CONTROL_LOOP_FLIGHT
    bool "Flight control loop"

endchoice

endmenu

module = THROTTLE
module-str = THROTTLE
source "subsys/logging/Kconfig.template.log_config"
